/* Setting the default font size and font family for the entire page. */
body
{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Setting the width and height of the header. */
header
{
    width: 100%;
    height: 60px;
}

/* Aligning the nav to the right. */
header nav
{
    display: flex;
    justify-content: flex-end;
}

/* Removing the underline from the links and changing the cursor to a pointer when hovering over the
links. */
a
{
    text-decoration: none;
    cursor: pointer;
}

/* Setting the width and height of the nav-right-section. */
header nav .nav-right-section
{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

/* Setting the margin-right and color of the links in the nav-right-section. */
nav .nav-right-section a
{
    margin-right: 10px;
    color: #000000;
}

/* Setting the background image of the menu icon. */
nav .nav-right-section .menu-icon
{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

/* Setting the border-radius, margin-left, height, and width of the image. */
nav .nav-right-section img
{
    border-radius: 50%;
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

/* Setting the margin-top and text-align of the main element. */
main
{
    margin-top: 150px;
    text-align: center;
}

/* Setting the width, margin, and margin-bottom of the main-logo class. */
main .main-logo
{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

/* Setting the width and height of the image. */
main .main-logo img
{
    width: 272px;
    height: 92px;
}

/* Setting the width, margin, and margin-bottom of the main-input class. */
main .main-input
{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

/* Setting the width, border-radius, border, display, justify-content, and align-items of the
main-input-container class. */
main .main-input-container
{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Setting the width, height, border, and outline of the input. */
main .main-input input
{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
    margin: 0 9px;
}

/* Setting the box-shadow and border-color of the main-input-container when the mouse is hovering over
it. */
main .main-input-container:hover
{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

/* Setting the background image of the search icon. */
main .main-input .search-icon
{
    background-image: url( 'https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

/* Setting the background image of the microphone icon. */
main .main-input .micro-icon
{
    background-image: url( 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-buttons
{
    width: 530px;
    margin: 0 auto;
}

/* Making the buttons appear on the same line. */
main .main-buttons div
{
    display: inline-block;
}

main .main-buttons button
{
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover
{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    background-color: #f8f8f8;
    cursor: pointer;
}

footer
{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer ul
{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}

/* Aligning the footer to the left. */
footer .footer-left
{
    justify-self: left;
}

/* Aligning the footer to the right. */
footer .footer-right
{
    justify-self: right;
}

/* Setting the margin and color of the links in the footer. */
footer ul li a
{
    margin: 10px;
    color: #5f6368;
}